# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda / venv
.env
.conda
env/
venv/
ybvenv/

# Jupyter
.ipynb_checkpoints/

# Training artifacts
models/
checkpoints/
logs/

# Egg / build
*.egg-info/
*.egg
build/
dist/

# ROS2 / Colcon
install/
log/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

